<h2> <%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<form action="/attack">
  <input type="submit" value="Attack">
</form>

<h3><%= @game.current_turn.name %>'s turn</h3>
